<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RiskBean</key>
	<dict>
		<key>questionList</key>
		<array>
			<dict>
				<key>id</key>
				<integer>101</integer>
				<key>optionList</key>
				<array>
					<dict>
						<key>optionContent</key>
						<string>A:工资、劳务报酬</string>
						<key>optionNum</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>optionContent</key>
						<string>B:生产经营所得</string>
						<key>optionNum</key>
						<integer>2</integer>
					</dict>
					<dict>
						<key>optionContent</key>
						<string>C:利息、股息、转让证券等金融性资产收入</string>
						<key>optionNum</key>
						<integer>3</integer>
					</dict>
					<dict>
						<key>optionContent</key>
						<string>D:出租、出售房地产等非金融性资产收入</string>
						<key>optionNum</key>
						<integer>4</integer>
					</dict>
					<dict>
						<key>optionContent</key>
						<string>E:无固定收入</string>
						<key>optionNum</key>
						<integer>5</integer>
					</dict>
				</array>
				<key>optionType</key>
				<integer>0</integer>
				<key>questionContent</key>
				<string>您的主要收入来源是：</string>
				<key>questionGroup</key>
				<integer>1</integer>
				<key>questionNum</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>102</integer>
				<key>optionList</key>
				<array>
					<dict>
						<key>optionContent</key>
						<string>A:70%以上</string>
						<key>optionNum</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>optionContent</key>
						<string>B:50%-70%</string>
						<key>optionNum</key>
						<integer>2</integer>
					</dict>
					<dict>
						<key>optionContent</key>
						<string>C:30%－50%</string>
						<key>optionNum</key>
						<integer>3</integer>
					</dict>
					<dict>
						<key>optionContent</key>
						<string>D:10%－30%</string>
						<key>optionNum</key>
						<integer>4</integer>
					</dict>
					<dict>
						<key>optionContent</key>
						<string>E:10%以下</string>
						<key>optionNum</key>
						<integer>5</integer>
					</dict>
				</array>
				<key>optionType</key>
				<integer>0</integer>
				<key>questionContent</key>
				<string>最近您家庭预计进行证券投资的资金占家庭现有总资产(不含自住、自用房产及汽车等固定资产)的比例是：</string>
				<key>questionGroup</key>
				<integer>1</integer>
				<key>questionNum</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>103</integer>
				<key>optionList</key>
				<array>
					<dict>
						<key>optionContent</key>
						<string>A:没有</string>
						<key>optionNum</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>optionContent</key>
						<string>B:有，住房抵押贷款等长期定额债务</string>
						<key>optionNum</key>
						<integer>2</integer>
					</dict>
					<dict>
						<key>optionContent</key>
						<string>C:信用卡欠款、消费信贷等短期信用债务</string>
						<key>optionNum</key>
						<integer>3</integer>
					</dict>
					<dict>
						<key>optionContent</key>
						<string>D:亲朋之间借款</string>
						<key>optionNum</key>
						<integer>4</integer>
					</dict>
				</array>
				<key>optionType</key>
				<integer>0</integer>
				<key>questionContent</key>
				<string>您是否有尚未清偿的数额较大的债务，如有，其性质是：</string>
				<key>questionGroup</key>
				<integer>1</integer>
				<key>questionNum</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>104</integer>
				<key>optionList</key>
				<array>
					<dict>
						<key>optionContent</key>
						<string>A:不超过50万元人民币</string>
						<key>optionNum</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>optionContent</key>
						<string>B:50万-300万元（不含）人民币</string>
						<key>optionNum</key>
						<integer>2</integer>
					</dict>
					<dict>
						<key>optionContent</key>
						<string>C:300万-1000万元（不含）人民币</string>
						<key>optionNum</key>
						<integer>3</integer>
					</dict>
					<dict>
						<key>optionContent</key>
						<string>D:1000万元人民币以上</string>
						<key>optionNum</key>
						<integer>4</integer>
					</dict>
				</array>
				<key>optionType</key>
				<integer>0</integer>
				<key>questionContent</key>
				<string>您可用于投资的资产数额（包括金融资产和不动产）为：</string>
				<key>questionGroup</key>
				<integer>1</integer>
				<key>questionNum</key>
				<integer>4</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>105</integer>
				<key>optionList</key>
				<array>
					<dict>
						<key>optionContent</key>
						<string>A:现在或此前曾从事金融、经济或财会等与金融产品投资相关的工作超过两年</string>
						<key>optionNum</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>optionContent</key>
						<string>B:已取得金融、经济或财会等与金融产品投资相关专业学士以上学位</string>
						<key>optionNum</key>
						<integer>2</integer>
					</dict>
					<dict>
						<key>optionContent</key>
						<string>C:取得证券从业资格、期货从业资格、注册会计师证书（CPA）或注册金融分析师证书（CFA）中的一项及以上</string>
						<key>optionNum</key>
						<integer>3</integer>
					</dict>
					<dict>
						<key>optionContent</key>
						<string>D:我不符合以上任何一项描述</string>
						<key>optionNum</key>
						<integer>4</integer>
					</dict>
				</array>
				<key>optionType</key>
				<integer>0</integer>
				<key>questionContent</key>
				<string>以下描述中何种符合您的实际情况：</string>
				<key>questionGroup</key>
				<integer>2</integer>
				<key>questionNum</key>
				<integer>5</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>106</integer>
				<key>optionList</key>
				<array>
					<dict>
						<key>optionContent</key>
						<string>A:有限：除银行活期账户和定期存款外，我基本没有其他投资经验</string>
						<key>optionNum</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>optionContent</key>
						<string>B:一般：除银行活期账户和定期存款外，我购买过基金、保险等理财产品，但还需要进一步的指导</string>
						<key>optionNum</key>
						<integer>2</integer>
					</dict>
					<dict>
						<key>optionContent</key>
						<string>C:丰富：我是一位有经验的投资者，参与过股票、基金等产品的交易，并倾向于自己做出投资决策</string>
						<key>optionNum</key>
						<integer>3</integer>
					</dict>
					<dict>
						<key>optionContent</key>
						<string>D:非常丰富：我是一位非常有经验的投资者，参与过权证、期货或创业板等高风险产品的交易</string>
						<key>optionNum</key>
						<integer>4</integer>
					</dict>
				</array>
				<key>optionType</key>
				<integer>0</integer>
				<key>questionContent</key>
				<string>您的投资经验可以被概括为：</string>
				<key>questionGroup</key>
				<integer>3</integer>
				<key>questionNum</key>
				<integer>6</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>107</integer>
				<key>optionList</key>
				<array>
					<dict>
						<key>optionContent</key>
						<string>A:太高了</string>
						<key>optionNum</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>optionContent</key>
						<string>B:偏高</string>
						<key>optionNum</key>
						<integer>2</integer>
					</dict>
					<dict>
						<key>optionContent</key>
						<string>C:正常</string>
						<key>optionNum</key>
						<integer>3</integer>
					</dict>
					<dict>
						<key>optionContent</key>
						<string>D:偏低</string>
						<key>optionNum</key>
						<integer>4</integer>
					</dict>
				</array>
				<key>optionType</key>
				<integer>0</integer>
				<key>questionContent</key>
				<string>有一位投资者一个月内做了15笔交易（同一品种买卖各一次算一笔），您认为这样的交易频率：</string>
				<key>questionGroup</key>
				<integer>3</integer>
				<key>questionNum</key>
				<integer>7</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>108</integer>
				<key>optionList</key>
				<array>
					<dict>
						<key>optionContent</key>
						<string>A:5个以下</string>
						<key>optionNum</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>optionContent</key>
						<string>B:6至10个</string>
						<key>optionNum</key>
						<integer>2</integer>
					</dict>
					<dict>
						<key>optionContent</key>
						<string>C:11至15个</string>
						<key>optionNum</key>
						<integer>3</integer>
					</dict>
					<dict>
						<key>optionContent</key>
						<string>D:16个以上</string>
						<key>optionNum</key>
						<integer>4</integer>
					</dict>
				</array>
				<key>optionType</key>
				<integer>0</integer>
				<key>questionContent</key>
				<string>过去一年时间内，您购买的不同金融产品（含同一类型的不同金融产品）的数量是：</string>
				<key>questionGroup</key>
				<integer>3</integer>
				<key>questionNum</key>
				<integer>8</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>109</integer>
				<key>optionList</key>
				<array>
					<dict>
						<key>optionContent</key>
						<string>A:银行存款</string>
						<key>optionNum</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>optionContent</key>
						<string>B:债券、货币市场基金、债券型基金或其它固定收益类产品</string>
						<key>optionNum</key>
						<integer>2</integer>
					</dict>
					<dict>
						<key>optionContent</key>
						<string>C:股票、混合型基金、偏股型基金、股票型基金等权益类投资品种</string>
						<key>optionNum</key>
						<integer>3</integer>
					</dict>
					<dict>
						<key>optionContent</key>
						<string>D:期货、融资融券</string>
						<key>optionNum</key>
						<integer>4</integer>
					</dict>
					<dict>
						<key>optionContent</key>
						<string>E:复杂金融产品或其他产品</string>
						<key>optionNum</key>
						<integer>5</integer>
					</dict>
				</array>
				<key>optionType</key>
				<integer>0</integer>
				<key>questionContent</key>
				<string>以下金融产品，您投资经验在两年以上的有：</string>
				<key>questionGroup</key>
				<integer>3</integer>
				<key>questionNum</key>
				<integer>9</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>110</integer>
				<key>optionList</key>
				<array>
					<dict>
						<key>optionContent</key>
						<string>A:10万元以内</string>
						<key>optionNum</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>optionContent</key>
						<string>B:10万元-30万元</string>
						<key>optionNum</key>
						<integer>2</integer>
					</dict>
					<dict>
						<key>optionContent</key>
						<string>C:30万元-100万元</string>
						<key>optionNum</key>
						<integer>3</integer>
					</dict>
					<dict>
						<key>optionContent</key>
						<string>D:100万元以上</string>
						<key>optionNum</key>
						<integer>4</integer>
					</dict>
					<dict>
						<key>optionContent</key>
						<string>E:从未投资过金融产品</string>
						<key>optionNum</key>
						<integer>5</integer>
					</dict>
				</array>
				<key>optionType</key>
				<integer>0</integer>
				<key>questionContent</key>
				<string>如果您曾经从事过金融产品投资，在交易较为活跃的月份，平均月交易额大概是多少：</string>
				<key>questionGroup</key>
				<integer>3</integer>
				<key>questionNum</key>
				<integer>10</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>111</integer>
				<key>optionList</key>
				<array>
					<dict>
						<key>optionContent</key>
						<string>A:短期——0到1年</string>
						<key>optionNum</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>optionContent</key>
						<string>B:中期——1到5年</string>
						<key>optionNum</key>
						<integer>2</integer>
					</dict>
					<dict>
						<key>optionContent</key>
						<string>C:长期——5年以上</string>
						<key>optionNum</key>
						<integer>3</integer>
					</dict>
				</array>
				<key>optionType</key>
				<integer>0</integer>
				<key>questionContent</key>
				<string>您用于证券投资的大部分资金不会用作其它用途的时间段为：</string>
				<key>questionGroup</key>
				<integer>4</integer>
				<key>questionNum</key>
				<integer>11</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>112</integer>
				<key>optionList</key>
				<array>
					<dict>
						<key>optionContent</key>
						<string>A:债券、货币市场基金、债券基金等固定收益类投资品种</string>
						<key>optionNum</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>optionContent</key>
						<string>B:股票、混合型基金、偏股型基金、股票型基金等权益类投资品种</string>
						<key>optionNum</key>
						<integer>2</integer>
					</dict>
					<dict>
						<key>optionContent</key>
						<string>C:期货、融资融券</string>
						<key>optionNum</key>
						<integer>3</integer>
					</dict>
					<dict>
						<key>optionContent</key>
						<string>D:复杂或高风险金融产品</string>
						<key>optionNum</key>
						<integer>4</integer>
					</dict>
					<dict>
						<key>optionContent</key>
						<string>E:其他产品</string>
						<key>optionNum</key>
						<integer>5</integer>
					</dict>
				</array>
				<key>optionType</key>
				<integer>0</integer>
				<key>questionContent</key>
				<string>您打算重点投资于哪些种类的投资品种？</string>
				<key>questionGroup</key>
				<integer>4</integer>
				<key>questionNum</key>
				<integer>12</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>113</integer>
				<key>optionList</key>
				<array>
					<dict>
						<key>optionContent</key>
						<string>A:全部投资于A</string>
						<key>optionNum</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>optionContent</key>
						<string>B:大部分投资于A</string>
						<key>optionNum</key>
						<integer>2</integer>
					</dict>
					<dict>
						<key>optionContent</key>
						<string>C:两种投资各一半</string>
						<key>optionNum</key>
						<integer>3</integer>
					</dict>
					<dict>
						<key>optionContent</key>
						<string>D:大部分投资于B</string>
						<key>optionNum</key>
						<integer>4</integer>
					</dict>
					<dict>
						<key>optionContent</key>
						<string>E:全部投资于B</string>
						<key>optionNum</key>
						<integer>5</integer>
					</dict>
				</array>
				<key>optionType</key>
				<integer>0</integer>
				<key>questionContent</key>
				<string>假设有两种不同的短期投资（1年以内）：投资A预期获得5%的收益，有可能承担非常小的损失；投资B预期获得20%的收益，但有可能面临25%甚至更高的亏损。您将您的投资资产分配为：</string>
				<key>questionGroup</key>
				<integer>4</integer>
				<key>questionNum</key>
				<integer>13</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>114</integer>
				<key>optionList</key>
				<array>
					<dict>
						<key>optionContent</key>
						<string>A:资产保值，我不愿意承担任何投资风险</string>
						<key>optionNum</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>optionContent</key>
						<string>B:尽可能保证本金安全，不在乎收益率比较低</string>
						<key>optionNum</key>
						<integer>2</integer>
					</dict>
					<dict>
						<key>optionContent</key>
						<string>C:产生较多的收益，可以承担一定的投资风险</string>
						<key>optionNum</key>
						<integer>3</integer>
					</dict>
					<dict>
						<key>optionContent</key>
						<string>D:实现资产大幅增长，愿意承担很大的投资风险</string>
						<key>optionNum</key>
						<integer>4</integer>
					</dict>
				</array>
				<key>optionType</key>
				<integer>0</integer>
				<key>questionContent</key>
				<string>当您进行投资时，您的首要目标是：</string>
				<key>questionGroup</key>
				<integer>5</integer>
				<key>questionNum</key>
				<integer>14</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>115</integer>
				<key>optionList</key>
				<array>
					<dict>
						<key>optionContent</key>
						<string>A:10%以内</string>
						<key>optionNum</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>optionContent</key>
						<string>B:10%-30%</string>
						<key>optionNum</key>
						<integer>2</integer>
					</dict>
					<dict>
						<key>optionContent</key>
						<string>C:30%-50%</string>
						<key>optionNum</key>
						<integer>3</integer>
					</dict>
					<dict>
						<key>optionContent</key>
						<string>D:超过50%</string>
						<key>optionNum</key>
						<integer>4</integer>
					</dict>
				</array>
				<key>optionType</key>
				<integer>0</integer>
				<key>questionContent</key>
				<string>您认为自己长期投资能承受的最大投资损失是多少？</string>
				<key>questionGroup</key>
				<integer>5</integer>
				<key>questionNum</key>
				<integer>15</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>116</integer>
				<key>optionList</key>
				<array>
					<dict>
						<key>optionContent</key>
						<string>A:改善生活</string>
						<key>optionNum</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>optionContent</key>
						<string>B:个体生产经营或证券投资以外的投资行为</string>
						<key>optionNum</key>
						<integer>2</integer>
					</dict>
					<dict>
						<key>optionContent</key>
						<string>C:履行扶养、抚养或赡养义务</string>
						<key>optionNum</key>
						<integer>3</integer>
					</dict>
					<dict>
						<key>optionContent</key>
						<string>D:本人养老或医疗</string>
						<key>optionNum</key>
						<integer>4</integer>
					</dict>
					<dict>
						<key>optionContent</key>
						<string>E:偿付债务</string>
						<key>optionNum</key>
						<integer>5</integer>
					</dict>
				</array>
				<key>optionType</key>
				<integer>0</integer>
				<key>questionContent</key>
				<string>投资目的：您打算将自己的投资回报主要用于：</string>
				<key>questionGroup</key>
				<integer>5</integer>
				<key>questionNum</key>
				<integer>16</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>117</integer>
				<key>optionList</key>
				<array>
					<dict>
						<key>optionContent</key>
						<string>A:18-30岁</string>
						<key>optionNum</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>optionContent</key>
						<string>B:31-40岁</string>
						<key>optionNum</key>
						<integer>2</integer>
					</dict>
					<dict>
						<key>optionContent</key>
						<string>C:41-50岁</string>
						<key>optionNum</key>
						<integer>3</integer>
					</dict>
					<dict>
						<key>optionContent</key>
						<string>D:51-60岁</string>
						<key>optionNum</key>
						<integer>4</integer>
					</dict>
					<dict>
						<key>optionContent</key>
						<string>E:超过60岁</string>
						<key>optionNum</key>
						<integer>5</integer>
					</dict>
				</array>
				<key>optionType</key>
				<integer>0</integer>
				<key>questionContent</key>
				<string>您的年龄是：</string>
				<key>questionGroup</key>
				<integer>6</integer>
				<key>questionNum</key>
				<integer>17</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>118</integer>
				<key>optionList</key>
				<array>
					<dict>
						<key>optionContent</key>
						<string>A:1-2人</string>
						<key>optionNum</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>optionContent</key>
						<string>B:3-4人</string>
						<key>optionNum</key>
						<integer>2</integer>
					</dict>
					<dict>
						<key>optionContent</key>
						<string>C:5人以上</string>
						<key>optionNum</key>
						<integer>3</integer>
					</dict>
				</array>
				<key>optionType</key>
				<integer>0</integer>
				<key>questionContent</key>
				<string>今后五年时间内，您的父母、配偶以及未成年子女等需负法定抚养、扶养和赡养义务的人数为：</string>
				<key>questionGroup</key>
				<integer>6</integer>
				<key>questionNum</key>
				<integer>18</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>119</integer>
				<key>optionList</key>
				<array>
					<dict>
						<key>optionContent</key>
						<string>A:高中或以下</string>
						<key>optionNum</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>optionContent</key>
						<string>B:大学专科</string>
						<key>optionNum</key>
						<integer>2</integer>
					</dict>
					<dict>
						<key>optionContent</key>
						<string>C:大学本科</string>
						<key>optionNum</key>
						<integer>3</integer>
					</dict>
					<dict>
						<key>optionContent</key>
						<string>D:硕士及以上</string>
						<key>optionNum</key>
						<integer>4</integer>
					</dict>
				</array>
				<key>optionType</key>
				<integer>0</integer>
				<key>questionContent</key>
				<string>您的最高学历是：</string>
				<key>questionGroup</key>
				<integer>6</integer>
				<key>questionNum</key>
				<integer>19</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>120</integer>
				<key>optionList</key>
				<array>
					<dict>
						<key>optionContent</key>
						<string>A:您与配偶均有稳定收入的工作</string>
						<key>optionNum</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>optionContent</key>
						<string>B:您与配偶其中一人有稳定收入的工作</string>
						<key>optionNum</key>
						<integer>2</integer>
					</dict>
					<dict>
						<key>optionContent</key>
						<string>C:您与配偶均没有稳定收入的工作或者已退休</string>
						<key>optionNum</key>
						<integer>3</integer>
					</dict>
					<dict>
						<key>optionContent</key>
						<string>D:未婚，但有稳定收入的工作</string>
						<key>optionNum</key>
						<integer>4</integer>
					</dict>
					<dict>
						<key>optionContent</key>
						<string>E:未婚，目前暂无稳定收入的工作</string>
						<key>optionNum</key>
						<integer>5</integer>
					</dict>
				</array>
				<key>optionType</key>
				<integer>0</integer>
				<key>questionContent</key>
				<string>您家庭的就业状况是：</string>
				<key>questionGroup</key>
				<integer>6</integer>
				<key>questionNum</key>
				<integer>20</integer>
			</dict>
		</array>
		<key>resultCode</key>
		<string>200</string>
	</dict>
</dict>
</plist>
